html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #111; /* Assurez-vous que le fond est conforme à votre thème sombre */
  }
  